<html>
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
  </head>
  <body>
    <input type="text" name="search" id="search">
    <div id="suggestions"></div>
  </body>
</html>
