<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>

  <body>
    <form action="/login" method="GET">
      <label>
        Email:
        <input type="text" name="email" value="<%= email %>">
      </label>
      <label>
        Password:
        <input type="password" name="password">
      </label>
      <button type="submit">Log In</button>
    </form>
    <%= error %>
    <form action="/login" method="POST">
      <label>
        Email:
        <input type="text" name="email" value="<%= email %>">
      </label>
      <label>
        Password:
        <input type="password" name="password">
      </label>
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
